/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 15 de nov. de 2023, 14:41:33
    Author     : Samara Justino
*/

.titulo{
    color: #303030;
    text-align: center;
}

* {
    margin: 0 auto;
    padding: 0 auto;
}

.background{
    background-color: #45C3D9;

}

.background_cadastro{
    margin-left: auto;
    margin-right: auto;
    display: flex-box;
    flex-direction: column;
    width: 100%;
    height: 700%;
    align-items: center;
    justify-content: center;


}
